{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user}}!{% endblock %}

{% block body %}

<div class="container">
    <h1>Hello {{ app.user }}! </h1>

    <ul>
        <li> Email : {{ app.user.email }}</li>
        <li> Pseudo : {{ app.user }}</li>
        <li>Nombre de livres lus : {{ nbLivres }}</li>
        <li>Nombre de mots lus : {{ nbMots }} </li>
        <li> Liste de lecture : 
        {% for liste in listes %} 
            <ul> {{ liste.nomListe }}
                {% for livre in liste.Livre %}
                    <li>
                        <a href="{{path('livre',{"titre":livre.titre}) }}">{{ livre.titre }}</a>
                        <a href="{{path('supprimerLivre',{"titre":livre.titre}) }}">
                        <button class="btn btn-sm btn-outline-secondary ">supprimer</button>
                        </a>
                    </li>
                {% endfor %}
            </ul>           
        </li>
        {% endfor %}
        <li> Liste des commentaires : 
            <ul>
                {% for com in coms %}
                    <li>
                        <h3>{{ com.titre }}</h3>
                        <p>{{ com.contenu}}</p>
                        <a href="{{path('livre',{"titre":com.livre}) }}">{{ com.livre }}</a>
                        <a href="{{path('supprimerCom',{"com":com.id}) }}">
                        <button class="btn btn-sm btn-outline-secondary ">supprimer</button>
                        </a>

                    </li> 
                {% endfor %}
            </ul>
        </li>
    </ul>  
</div>
{% endblock %}
